.selectStoreCTA {
    background-image: url("../../images/mountainview.jpg");
    height: 80vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left middle;
    position: relative;
    overflow: hidden;
}
